html {
  height: 100%;
}
body {
  background-color: #444444;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  font-size: 10pt;
  height: 100%;
}
h1 {
  color: #ff7700;
  font-size: 24pt;
  text-align: center;
  background-color: #000000;
}
h4 {
  color: #ff7700;
  font-size: 10pt;
  background-color: #000000;
  margin-left: 1pt;
  margin-right: 1pt;
  font-weight: 400;
  padding-left: 2pt;
  padding-right: 2pt;
}
p {
  color: #90fe00;
  text-align: justify;
  padding-left: 10pt;
  padding-right: 10pt;
}
b {
  font-weight: 300;
  color: #ff7700;
}
.header {
  width:100%;
  overflow-inline: auto;
  border-top: #000000;
  border-bottom-style: dashed;
}
.main {
  width:79%;
  height: 90%;
  float:left;
  border-top: #000000;
}
.menu {
  width:20%;
  height: 90%;
  float:right;
  border-left-style: dashed;
}
.footer {
  width:100%;
  overflow-inline: auto;
  border-top: #000000;
  border-top-style: dashed;
  text-align: center;
}
ul {
  list-style-image: url('images/bulletbone.png');
  color:#90fe00;
}