body {
  background-color: #444444;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  font-size: 12pt;
}
h1 {
  color: #ff7700;
  font-size: 24pt;
  text-align: center;
  background-color: #000000;
}
h4 {
  color: #ff7700;
  font-size: 12pt;
  background-color: #000000;
  padding-left: 10pt;
  padding-right: 10pt;
}
p {
  color: #90fe00;
  text-align: justify;
  padding-left: 10pt;
  padding-right: 10pt;
}
b {
  font-weight: 300;
  color: #ee00ff;
}
.header {
  width:100%;
  overflow-inline: auto;
  border-top: #000000;
  border-bottom-style: dashed;
}
.main {
  width:70%;
  float:left;
  border-top: #000000;
  border-right-style: dashed;
}
.menu {
  width:30%;
  float:right;
}
.footer {
  width:100%;
  overflow-inline: auto;
  border-top: #000000;
  border-top-style: dashed;
}