body {
  background-color: #444444;
  background-image: url('images/bg.png');
  background-repeat: repeat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h4 {
  color: #ff7700;
  font-size: 10pt;
  background-color: #000000;
  margin: 0;
  font-weight: 400;
  padding: 2pt;
}

p {
  color: #90fe00;
  text-align: justify;
  padding: 0 10pt;
}

b {
  font-weight: bold;
  color: #ff7700;
}

em {
  color: #ff7700;
}

ul {
  list-style-image: url('images/bulletbone.png');
  color: #90fe00;
}

#header {
  width: 1148px;
  margin: 0 auto;
  flex-shrink: 0;
  border: 3px solid #000000;
  border-bottom: 0;
}

#contain {
  width: 1148px;
  margin: 0 auto;
  border: 3px solid #000000;
  border-bottom: 0;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  background-color: #444444;
}

#main {
  width: 78%;
}

#menu {
  width: 22%;
  border-left: 2px dashed #000000;
  flex-shrink: 0;
}

#footer {
  width: 1148px;
  margin: 0 auto;
  flex-shrink: 0;
  padding: 10px 0;
  color: #90fe00;
  background-color: #444444;
  border: 3px solid #000000;
  border-top: 0;
}

a:link {
  color: #ff7700;
  text-decoration: underline;
}

a:visited {
  color: #000000;
  text-decoration: line-through;
}

a:hover {
  color: #000000;
}

a:active {
  color: #000000;
}

#header img {
  max-width: 100%;
  height: auto;
  display: block;
}